/* Google font import */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Fira+Code:wght@300;400;700&display=swap');

/* header */
img.profile {
    width: 256px;
    height: 256px;
    margin-bottom: 16px;
}

h2.h {
    font-family: 'Fira Code';
    font-weight: 400;
}

/* links */
button.outlink {
    font-family: 'Fira Code';
    font-weight: 300;
}

a.outlink {
    text-decoration: none;
}
a.outlink:hover {
    text-decoration: none;
}

button.outlink {
    font-weight: 400;
    border-radius: 0;
}

a.inlink {
    text-decoration: none;
    color: #999;
    font-family: "Fira Code";
}

.tm-link {
    padding-left: 8px;
}

/* typography */
p.codey {
    font-family: 'Fira Code';
    font-weight: 300;
}

a.prev {
    text-underline-offset: 8px;
}

div.block {
    margin-bottom: 12px;
}

hr.sep {
    margin-top: 42px;
    margin-bottom: 42px;
}