@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Source+Sans+Pro:300,300i");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700");
@import url("https://fonts.googleapis.com/css?family=Work+Sans:300,400,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css?family=Questrial&display=swap");

h1.title {
  font-family: "Open Sans";
  font-size: 65px;
  font-weight: 600;
}

h3.big {
  font-family: "Open Sans";
  font-weight: 300;
}

p {
  color: #a3a3a3;
  font-family: "Source Sans Pro";
}

img.work {
  border-radius: 10px;
}

.flavor {
  font-family: "Source Sans Pro";
  font-size: 14px;
  color: #a3a3a3;
}

img.hero {
  width: 80%;
  border-radius: 10px;
}

.umdlogo {
  height: 28px;
  margin-bottom: 2px;
}

.divider {
  height: 1px;
  background-color: #ededed;
  width: 100%;
}

h2.header {
  font-family: "Open Sans";
}

.work {
  padding-left: 0px;
  cursor: pointer; /* for JQuery links in script.js */
}

div.experience {
  width: 100%;
  margin-bottom: 35px;
}

span.worktitle {
  font-weight: bold;
}

.section-desc {
  color: white;
}

.umd {
  font-weight: 400;
}
a {
  color: #727272;
}
a:hover {
  color: #727272;
}

.hpe {
  text-decoration: none;
  color: #00b388;
}
.hpe:hover {
  text-decoration: none;
  color: #00b388;
}

.cmsc389 {
  text-decoration: none;
  color: #2ed573;
}

.cmsc389:hover {
  text-decoration: none;
  color: #2ed573;
}

.cmsc216 {
  text-decoration: none;
  color: #5352ed;
}

.cmsc216:hover {
  text-decoration: none;
  color: #5352ed;
}

.enee200 {
  text-decoration: none;
  color: #ff6b81;
}

.enee200:hover {
  text-decoration: none;
  color: #ff6b81;
}

.engl101 {
  text-decoration: none;
  color: #ff6348;
}

.engl101:hover {
  text-decoration: none;
  color: #ff6348;
}

.aces {
  text-decoration: none;
  color: black;
}

.aces:hover {
  text-decoration: none;
  color: black;
}

.shell {
  color: #d54135;
  text-decoration: none;
}
.shell:hover {
  color: #d54135;
  text-decoration: none;
}

.gitchart {
  width: 96%;
  margin-left: 2%;
  margin-top: 12px;
}

.git {
  border: 1px dotted #dcdde1;
  border-radius: 10px;
  height: auto;
}

.gitname {
  text-align: center;
}

/* SKETCH LINKS */
section {
  position: relative;
  z-index: 1; /* needed for setting pseudo-element z-index */
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

section a {
  color: gray;
  position: relative;
  display: inline-block;
  outline: none;
  vertical-align: bottom;
  text-decoration: none;
  white-space: nowrap;
}

section a:hover {
  text-decoration: none;
}

section a:visited {
  color: gray;
  text-decoration: none;
}

section a::before,
section a::after {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.link-slideup {
}

.link-slideup a {
  overflow: hidden;
  font-weight: 300;
}

.link-slideup a::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  content: "";
  -webkit-transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  -webkit-transform: translateY(95%);
  transform: translateY(95%);
}

.link-slideup a:hover::before,
.link-slideup a:focus::before {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

/* END LINKS */

.link-slideup-github a {
  overflow: hidden;
  font-weight: 300;
  color: black;
}

.link-slideup-github a::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: #333;

  content: "";
  -webkit-transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  -webkit-transform: translateY(95%);
  transform: translateY(95%);
}

.link-slideup-github a:visited {
  color: black;
}

.link-slideup-github a:visited:hover {
  color: white;
}

.link-slideup-github a:hover {
  color: white;
}

.link-slideup-github a:hover::before,
.link-slideup-github a:focus::before {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

/* END GITHUB STYLE */

/* LINKEDIN STYLE */
.link-slideup-linkedin a {
  overflow: hidden;
  font-weight: 300;
  color: black;
}

.link-slideup-linkedin a::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: #0984e3;

  content: "";
  -webkit-transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  -webkit-transform: translateY(95%);
  transform: translateY(95%);
}

.link-slideup-linkedin a:visited:hover {
  color: white;
}

.link-slideup-linkedin a:hover {
  color: white;
}

.link-slideup-linkedin a:visited {
  color: black;
}

.link-slideup-linkedin a:hover::before,
.link-slideup-linkedin a:focus::before {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
/* END LINKEDIN STYLE*/

.skills {
  width: 100%;
  height: auto;
  background-color: #dfe6e9;
  color: #636e72;
  padding: 30px;
}

p.skill {
  color: #636e72;
}

.email {
  text-align: center;
  font-size: 36px;
}
